[2022-10-17 02:05] Haych opened #8 "Time does not update"
Thanks for your custom card, I really like the layout.

One thing I have noticed though is that the time is not auto updating. On page load it shows the current time at when the page loaded. If I leave that page open though, the time does not update and stays on the same time as when the page loaded.

I have only tested it on Chrome at this stage.

[2022-10-17 02:37] Haych commented on #8
Sorry just to add to this, in the developer console there is this message repeated often:

clock-weather-card.js?hacstag=522634019101:179 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'state')
    at Ze.shouldUpdate (clock-weather-card.js?hacstag=522634019101:179:206673)
    at Ze.performUpdate (clock-weather-card.js?hacstag=522634019101:25:4896)
    at Ze.scheduleU

[2022-10-17 08:06] MarcelW85 opened #9 "Additional Language (German)"
Hi Patrick.
Is it possible to add german Language?
I created a translation (de.json), maybe you can add it.
Thanks
Marcel

[2022-10-17 08:15] pkissling commented on #8
Glad you like the card and thanks for reporting the issue.
Apparently the card assumes that there is an entity `sensor.time` available. I just realised that the integration is optional and hence not available by default. I will fix this issue.

For the time being, enabling the `time_date` integration (https://www.home-assistant.io/integrations/time_date/) should fix the issue. Can you confirm?

[2022-10-17 09:01] #8 closed

[2022-10-17 09:26] pkissling commented on #8
Should be fixed in 1.0.2 release: https://github.com/pkissling/clock-weather-card/releases/tag/1.0.2

[2022-10-17 09:39] pkissling commented on #9
Hi Marcel,

sure thing! can you raise a pull request?

[2022-10-17 10:41] teras opened #10 "time font wrongly wraps wraps"
Hello and first of all thank you for this nice widget!
I am using this and under certain sizes, the time wraps and makes this ugly  result.
To make it more clear, I have attached an image.

Is it something that could be done to fix this?

![image](https://user-images.githubusercontent.com/592568/196157216-4345df92-6775-41df-b78c-94615a3468a4.png)

[2022-10-17 10:58] pkissling commented on #10
thanks for reporting the issue. i'm able to reproduce the problem using `en` as locale. gonna have a look and provide a fix shortly

[2022-10-17 14:46] Haych commented on #8
Thanks mate, it is working in the updated version

[2022-10-17 16:45] FenvyWorks opened #15 "Not displaying the right values for temperature for met.no"
Seems like it doesn't work with met.no forecast for some reason.

![Capture](https://user-images.githubusercontent.com/39421725/196235179-2fdddaa2-cac4-4f20-9356-1cd605e05e0c.PNG)

[2022-10-17 16:47] FenvyWorks commented on #15
The right values in atributes would be

temperature: 28
humidity: 56
pressure: 1016.8
wind_bearing: 57.9
wind_speed: 19.1
forecast:
  - condition: rainy
    precipitation: 2.7
    temperature: 27.8
    templow: 21.4
    datetime: '2022-10-18T15:00:00+00:00'
    wind_bearing: 66.5
    wind_speed: 21.2
  - condition: rainy
    precipitation: 1
    temperature: 27.8
    templow: 21.1
    datetime: '2

[2022-10-17 16:49] pkissling commented on #9
Thanks for the PR. will create a release later today

[2022-10-17 16:49] #9 closed

[2022-10-17 20:46] #10 closed

[2022-10-17 21:41] teras commented on #10
Now it's perfect! Thank you!

[2022-10-17 22:22] almighty059 opened #22 "Option to hide top or bottom portion of the card"
Feature request to hide/show parts of the card which is basically only two parts. So if I want I could just show the top portion of the card with the clock, date, and current temp information or I could just show the bottom portion of the card with daily forecast. The default would be to show the entire card as it is.

Besides that the cards works awesome and I haven't had any issues. I want to us

[2022-10-18 06:22] znack14 opened #23 "The card does not work"
Good day.  The card does not work.  OpenWeather weather operator, everything is written:
type: custom:clock-weather-card
 entity: weather.irpin
 animated_icon: true
 forecast_days: 5
 locale: en
although it may or may not be necessary. Installation via Hacs

[2022-10-18 08:09] DjavierHG opened #24 "Language stuck in English - "locale" option does not work"
I have HA language and location in Spanish but card shows the data in English. I have set  locale card property to "es" to try to force the change but card still displays weather text in english.

[2022-10-18 08:11] DjavierHG opened #25 "Weather icon is allways animated"
I have set "animated_icon: false" but icon still animated.

[2022-10-18 08:53] joostvkempen commented on #24
Confirmed for 'NL', also several restarts of HA and reloading browser did not change language shown

[2022-10-18 09:28] guevara777 commented on #22
This is very easy to do with Card-Mod. But i would also love to see the option for a yaml-config.

[code]

Maybe you have to play around with some other values also. I made a config with a custom:mod-card and card-mod and it looks like this:
![image](https://user-images.githubusercontent.com/29648553/196392450-7cb3a33f-a6a8-459a-9203-8ef02b8b9124.png)

[2022-10-18 10:58] LeonB87 commented on #24
pkissling mentioned in PR #17 that some additional work needs to be done that he will look at.

[2022-10-18 11:04] #25 closed

[2022-10-18 11:10] pkissling commented on #23
thanks for reporting the issue. i have never tried the OpenWeather weather provider. i will have a look and see what i can do to make it work

[2022-10-18 12:00] pkissling commented on #15
so this is not an issue anymore?

[2022-10-18 12:07] FenvyWorks commented on #15
Oh it still is, at least for the version published and available on HACS. I apologize for not making things clear.

[2022-10-18 12:35] pkissling commented on #24
hi @DjavierHG, there is no such translation available for spanish. could you contribute the corresponding translations?
https://github.com/pkissling/clock-weather-card/tree/master/src/localize/languages

[2022-10-18 12:36] pkissling commented on #24
hi @joostvkempen, NL language was added with release 1.0.3 from yesterday evening. can you check whether you run the latest version?
for me, the card properly shows Dutch translations
![image](https://user-images.githubusercontent.com/33731393/196431012-f14c3bd3-6866-4c4a-89e9-2da11aaf0a44.png)

[2022-10-18 14:23] joostvkempen commented on #24
Hmm, that's strange! I'm definitely on 1.0.3 and tried several things. After updating I've added 'locale', restarted HA and refreshed frontend (incl. deleting cookies etc.), but nothing changed. In the documentation it states: "If not provided, falls back to the locale set in HA". My locale is set to NL, so I tried removing 'locale' from the card, also without success.

I'll wait some more, someti

[2022-10-18 14:26] DjavierHG commented on #24
Done!

[2022-10-18 14:40] pkissling commented on #15
i just tested the met.no integration with the latest published clock-weather-card version (1.0.3).
for my side it looks fine.
![image](https://user-images.githubusercontent.com/33731393/196461598-c1a159a5-3a3d-4db7-868f-9f2076f11c97.png)

my hunch is that the data delivered by met.no might differ depending on your location (lat/long).
[code]

could you provide your lat/long to hopefully make me ab

[2022-10-18 14:42] LeonB87 commented on #24
I have it the other way around, I'm now stuck at the NL language. When I switch to en, only the datetime format changes. Tried clearing my cache as well.

![msedge_IYga89iF4b](https://user-images.githubusercontent.com/10503724/196462210-569b2118-f3ef-4f8e-8adf-0c48758a54fb.gif)

[2022-10-18 14:54] pkissling commented on #24
hi @LeonB87,
i realised that there were multiple sources of truth with regards to the locale.
I fixed it via https://github.com/pkissling/clock-weather-card/pull/27. Once a new version is released, the config parameter `locale` with take precedence. if not available, it will fallback to the locale set in HA.

[2022-10-18 14:56] alexandrechoske commented on #24
hi @pkissling I am also trying to change to "pt-BR" but with no success, only keep the EN version ;)

[2022-10-18 15:06] pkissling commented on #24
hi @alexandrechoske there was an issue with the mapping of `pt-BR` file. will be fixed with the next release as well

[2022-10-18 16:02] detroitgoose commented on #23
I was. The card doesn't show up if you use "onecall_hourly"

Is that a bug or no? I would prefer to use the hourly service if possible.

Cheers and thank you!

[2022-10-18 17:43] FenvyWorks commented on #15
Sure here it is roughly
latitude: -20.388 longitude: -40.3209

But it might be something else. I tested with open weather and it also got me a scrambled data.
![Capture](https://user-images.githubusercontent.com/39421725/196503158-615d0b5a-d048-4ab5-911a-7f8663c1def6.PNG)

I might be the one at fault here somehow. After the update to the language is also weirdly defaulting to this. So if everythin

[2022-10-18 18:25] pkissling commented on #15
`pt-BR` showing Danish language was caused by a bug i already fixed in https://github.com/pkissling/clock-weather-card/pull/27. should work in the release `1.0.4` (in the next few days).

The only thing i see in your screenshot not working properly is the `NaN` temperature above the clock. That i will look into.
Other than that, the card renders correctly. The bars only appearing blueish is due to

[2022-10-18 18:27] pkissling commented on #23
i can look into accepting `onecall_hourly`, but that might take some time. i would have to add some logic to aggregate all hours of each day and calculate the avg/max/min temp.

[2022-10-18 18:45] nightfever77 commented on #24
Same issue with German. HA localization is set to German. Card is falling back to English no matter if I set locale: de or not

[2022-10-18 18:46] pkissling commented on #24
i just released 1.0.4. hope this solves all discussed issues. otherwise, please feel free to open a new issue. thanks for your feedback guys - appreciated.

and @DjavierHG, can you create a pull request for the `es.json` translations? let me know if you need help with that

[2022-10-18 18:46] #24 closed

[2022-10-18 18:59] nightfever77 commented on #24
Confirmed, thanks.

[2022-10-18 19:19] FenvyWorks commented on #15
Haha the thing is i live in brazil those temps should be on the 20s

[2022-10-18 19:33] pkissling commented on #22
thanks for the suggestion. i just raised #30. you might want to have a look at it so see if that change suits you

[2022-10-18 19:48] #23 closed

[2022-10-18 22:26] almighty059 commented on #22
@guevara777 yes that works great and I tried doing as well as changing `font-size` using the element inspector but I suck at converting the information that I get from the inspector to the proper HA format in `style:`. I get soooo frustrated but I occasionally get in right on accident. Lol. I've searched for a video tutorial or something that explains how to do it but could never find anything. I

[2022-10-19 01:49] znack14 opened #31 "add the Ukrainian language"
Please add the Ukrainian language

{
  "common": {
    "invalid_configuration": "Помилка конфігурації.",
    "entity_missing": "Відсутня необхідна сутність погоди.",
    "invalid_forecast_days": "значення днів прогнозу має бути більше 0.",
    "invalid_time_format": "формат часу має бути '12' або '24'"
  },
  "weather": {
    "clear-night": "Ясно",
    "cloudy": "Хмарно",
    "fog": "Туман",
    "

[2022-10-19 06:49] pkissling opened #33 "Add support for hourly forecast"
Currently the clock-weather-card breaks if one uses the hourly forecast option of a certain weather provider (Pirate weather, OpenWeather).

To make the hourly forecast optional work, additional logic is required to aggregate the hourly forecasts by day and create the avg/min/max values for it.

[2022-10-19 06:52] pkissling opened #34 "Make clock font-width grow dynamically"
Currently the font-size of the clock is set to a fixed value. Depending on the resolution and viewport, there is a lot of wasted space.

Task: Find a solution to make the clock font-size grow dynamically with the space of the surrounding div.
Options:
* Calculate font-size dynamically based on width of surrounding div
* Render text as svg

[2022-10-19 07:12] pkissling opened #35 "Generic translations"
As of now every additional translation (`json`) requires changes in `src/localize/localize.ts`.

Goal: Find a way to load the translations generically.

[2022-10-19 07:46] #31 closed

[2022-10-19 12:31] pkissling commented on #23
hi @usernein, can you create a new issue for the pirateweather provider? i will look into it

[2022-10-19 13:59] lakshinskij opened #38 "please add Ukrainian language support"
I really like your work. I'm from Ukraine. Please add Ukrainian language support. Thanks in advance

[2022-10-19 14:11] MarcelW85 commented on #38
You can raise a PR with your ukrainian translation.

[2022-10-19 14:11] MarcelW85 commented on #38
You can raise a PR with your ukrainian translation.

[2022-10-19 14:36] pkissling commented on #38
hi @lakshinskij, glad you the card.
Ukrainian was already incorporated #31 and #36. and will hence be included in the next release `1.0.5`

[2022-10-19 14:36] #38 closed

[2022-10-19 20:31] #22 closed

[2022-10-19 20:33] pkissling commented on #22
hi @almighty059, the first step should be to get checkout the git repository and install `node` and `npm` to make eventually the command `npm run build` succeed. once successfully executed, you will find the `.js` file in the `dist` folder.

i merged the pull request. will be released with `1.0.5` in the next couple of days

[2022-10-19 23:15] ronnienijjar opened #39 "Card stops working with environment Canada integration"
The card stops working in the evening with environment Canada integration but comes back the next day. My assumption is this happens when the integration stops reporting the current days high temperature ( temperature: null)

[2022-10-20 08:50] pkissling commented on #23
hi @usernein @znack14 @boulala @detroitgoose, i just implemented the hourly support in #41
it will be released in the next couple of days with `1.0.5`

[2022-10-20 12:15] cptcotton opened #42 "min/max temperature for today"
The (very beautiful) widget doesn't show the min/max-temperature for the current day. The weather-provider delivers this data as shown in the standard ha-widget.

[2022-10-20 12:21] usernein commented on #42
Which weather provider are you using and with which mode (hourly, daily, onecall_hourly, etc)?

[2022-10-20 14:36] CultUr opened #43 "Does not work with Openweathermap weather entity"
The Layout does not work with weather.openweathermap entity.
Version: 1.0.4
Openweathermap is configured in mode hourly and language en.

[2022-10-20 14:50] pkissling commented on #43
hi @CultUr, hourly support will be added with #41
i will most likely release a new version today in the evening.

cheers,
Patrick

[2022-10-20 14:57] tnagels opened #44 "Cannot read properties of undefined (reading 'locale')"
**Checklist:**

- [X] I updated to the latest version available
- [X] I cleared the cache of my browser

**Release with the issue:**

..**Last working release (if known):**
1.0.4
**Browser and Operating System:**
iOS HA App / Windows Edge

**Description of problem:**

Just added the card, it just shows an error. On the browser I get "Cannot read properties of undefined (reading 'locale')", in the

[2022-10-20 15:02] pkissling commented on #44
hi @tnagels, thanks for reporting the issue. could you please provide the stacktrace?

[2022-10-20 15:09] pkissling commented on #15
hi @FenvyWorks, can you please use the attached `.zip` file and provide the browser logs?
please extract the `.zip`. it will contain the `.js` file.
[clock-weather-card.js.zip](https://github.com/pkissling/clock-weather-card/files/9831422/clock-weather-card.js.zip)

[2022-10-20 15:11] #33 closed

[2022-10-20 15:14] tnagels commented on #44
Do you mean this?

`ha-logbook.ts:42

       card custom:clock-weather-card TypeError: Cannot read properties of undefined (reading 'locale')
    at lt.getLocale (clock-weather-card.js?hacstag=522634019104:231:1984)
    at lt.localize (clock-weather-card.js?hacstag=522634019104:231:3436)
    at lt.setConfig (clock-weather-card.js?hacstag=522634019104:171:211019)
    at a (ha-logbook.ts:42:1)
    a

[2022-10-20 15:34] tnagels commented on #44
Just updatedc to 1.0.5 and now I get a different error:
[code]

[2022-10-20 15:43] johndoe0815 opened #45 "Include precipitation"
**Is your feature request related to a problem? Please describe.**
Part of weather forecast, besides temperature, is "will there be rain? and how much?"

**Describe the solution you'd like**
It would be great if besides temperature and a weather icon, also the amount of precipitation could be displayed. This weather card (https://community.home-assistant.io/t/lovelace-weather-card-with-chart/88816

[2022-10-20 15:44] BennyDaBee opened #46 "Snow Icon Broken"
**Checklist:**

- [x ] I updated to the latest version available
- [x ] I cleared the cache of my browser

**Release with the issue:**
1.0.5
**Last working release (if known):**
N/A
**Browser and Operating System:**
Chrome on Windows 11 - HA Running on HAOS

**Description of problem:**
The snow icon on the forecast is broken/non-exsistent. Top picture is of the custom card, and the bottom is when

[2022-10-20 15:48] pkissling commented on #44
thanks. can you also provide your `yaml` configuration (dashboard)?

[2022-10-20 16:04] FenvyWorks commented on #15
Here it is. I hope it helps.
[console log.log](https://github.com/pkissling/clock-weather-card/files/9831860/console.log.log)

[2022-10-20 16:07] pkissling commented on #46
hi @BennyDaBee, thanks for reporting the issue.
can you provide the state of your weather entity (from the developer tools section in HA). i would like to know the `condition` attribute of the `weather.attributes.forecast` item

[2022-10-20 16:09] BennyDaBee commented on #46
Hello @pkissling,

The state is below

[code]

[2022-10-20 16:10] FenvyWorks commented on #15
Here i had to remove some lines that gave away my external url.
[console log.log](https://github.com/pkissling/clock-weather-card/files/9831969/console.log.log)

[2022-10-20 16:12] FenvyWorks commented on #15
interesting it seems the entity couldn't be found somehow

[code]

[2022-10-20 16:15] pkissling commented on #46
thanks. apparently the icons `snowy` and `snowy-rainy` did never work. there was a typo in the mapping (`snow` vs `snowy` and `snowy-rainy` vs `snowy-rain`

[2022-10-20 16:17] pkissling commented on #42
thanks for reporting the issue. additionally to what @usernein asked i would also ask you to upload a screenshot of the card. for me it's not entirely clear what you mean with "doesn't show the min/max-temperature for the current day."

[2022-10-20 16:23] pkissling commented on #15
hmm the error message is pretty strange. this exception means that the weather entity cannot be found.
can you provide your cards `yaml` configuration?

please double check that the entity id of attribute `entity`  also exists in your home assistant developer tools section.

my configuration is the following:
[code]

[2022-10-20 16:28] FenvyWorks commented on #15
Ok im absolutely stupid, i figured it out, home assistant handles the entity different in the new update i think. I just updated it and now its working. I apologize for this mess, and i appreciate your attention and care man. Awesome work, issue is solved, home assistant needs to be up to date for it to work.

[2022-10-20 16:44] tykeal opened #49 "Chaos is confusing"
**Is your feature request related to a problem? Please describe.**
I find the fact that a current condition of "exceptional" is translated to "chaos" as very confusing. I expect the weather services to provide clear condition indicators. I had to go looking into the source code to figure out why my testing of this card was showing a spinning vortex instead of a exclamation triangle and saying the

[2022-10-20 17:29] pkissling commented on #15
hehe, happy to hear you resolved the issue. cheers!

[2022-10-20 17:29] #15 closed

[2022-10-20 17:30] #46 closed

[2022-10-20 18:36] pkissling commented on #49
hey @tykeal,

i definitely see your point.
when i created the card, i didn't consider the `exceptional` state to occur on a regular basis, hence i didn't put too much effort in finding a suitable icon.

as you might know, i didn't create the icons myself. and since i couldn't find [a more suitable](https://basmilius.github.io/weather-icons/index-fill.html) icon for the `exceptional` state, i [reac

[2022-10-20 18:44] tykeal commented on #49
Thanks for the response :) I was looking through the icons as well and didn't see anything that would be very great at this time. Closest would be the N/A (not-available) since it doesn't match any other known weather condition. As for the `exceptional` state. At least here in Washington state it's happening a lot through this past summer :( what I end up seeing is it toggles between `exceptional`

[2022-10-20 19:28] pkissling commented on #39
hey @ronnienijjar,
i changed to card's logic to expect and handle null values in all forecast attributes.
though i was not able to reproduce to issue, since its a pretty edgy case (environment Canada weather provider & only happens in the evening / before midnight).

would you mind installing the fix manually and having it running for a couple of days? i would like to have your confirmation that t

[2022-10-20 19:56] pkissling commented on #44
hi @tnagels
i just found out that the error message was missing a translation. the error message which was supposed to show is: "entity must be present". this will be fixed in the next release.

the error message says that you did not provide the `entity` attribute in the configuration.

a sample configuration:
[code]

can you check whether this resolves your issue?

[2022-10-20 20:07] ronnienijjar commented on #39
Its installed. I will report back in a couple days

[2022-10-20 21:57] Murianwind opened #56 "The current temperature indicator is not displayed."
**Checklist:**

- [x] I updated to the latest version available
- [x] I cleared the cache of my browser

**Release with the issue:**

**Last working release (if known):**

**Browser and Operating System:**

**Description of problem:**

![화면 캡처 2022-10-21 065040](https://user-images.githubusercontent.com/6447460/197066349-5ba4d2a5-ecf4-49d8-8bf0-7ffdfe0e6e98.png)

If the current temperature is lowe

[2022-10-21 06:52] pkissling commented on #56
hi @Murianwind, thanks for reporting the issue.
which weather provider are you using?

[2022-10-21 07:48] Microbeen commented on #56
I have a similar problem.
The current temperature indicator is not displayed.
It worked correctly before the update.
Weather provider - Gismeteo.

[2022-10-21 07:51] tnagels commented on #44
@pkissling yes, that did solve the issue. In the end it was my fault for not adding the entity, but I'm glad you found the translation error.

[2022-10-21 08:09] #44 closed

[2022-10-21 08:13] Microbeen opened #58 "Please, add a Russian translation."
Please, add a Russian translation.

{
  "common": {
    "invalid_configuration": "Неверная конфигурация",
    "entity_missing": "Отсутствует сущность погоды",
    "invalid_forecast_days": "Количество дней прогноза должно быть больше 0",
    "invalid_time_format": "Значение 'time_format' должно быть '12' или '24'",
    "invalid_hides": "Опции 'hide_today_section' и 'hide_forecast_section' нельзя вк

[2022-10-21 11:21] Murianwind commented on #56
This is the weather component I am using.

https://github.com/GuGu927/damda_weather/

[2022-10-21 13:18] #58 closed

[2022-10-21 13:18] trigger737 opened #61 "Please, add Czech translations"
{
  "common": {
    "invalid_configuration": "Neplatná konfigurace.",
    "entity_missing": "chybí entita",
    "invalid_forecast_days": "forecast_days musí být větší než 0.",
    "invalid_time_format": "time_format musí být '12' nebo '24'.",
    "invalid_hides": "'hide_today_section' a 'hide_forecast_section' nesmí být současně povolené."
  },
  "weather": {
    "clear-night": "Jasno",
    "cloud

[2022-10-21 13:24] #61 closed

[2022-10-21 13:49] cptcotton commented on #42
![69CDDD32-321C-48B0-BC7B-B14B3A697055](https://user-images.githubusercontent.com/5418733/197210902-625f5b87-5b96-421e-950d-dd8f71f25e4d.png)
As you can see in the attached Screenshot, the default HA Widget shows the min/max-temperature for today but your very beautifull widget only shows it for the upcoming days.
I am using the Home (met.no) intigration but do not know where the mode is defined.

[2022-10-21 14:04] Microbeen commented on #58
Hello. An error occurred in the translation. In Russia, the week starts on Monday, not Sunday.
It is necessary to move the table down one day.

"day": {
"0": "Вс",
"1": "Пн",
"2": "Вт",
"3": "Ср",
"4": "Чт",
"5": "Пт",
"6": "Сб",

Thanks!

[2022-10-21 14:07] Microbeen opened #63 "Russian traslation error"
Hello. An error occurred in the translation. In Russia, the week starts on Monday, not Sunday.
It is necessary to move the table down one day.

"day": {
"0": "Вс",
"1": "Пн",
"2": "Вт",
"3": "Ср",
"4": "Чт",
"5": "Пт",
"6": "Сб",

Thanks!

_Originally posted by @Microbeen in https://github.com/pkissling/clock-weather-card/issues/58#issuecomment-1287013909_

[2022-10-21 14:22] #63 closed

[2022-10-21 16:51] mvanlijden opened #64 "Visualize hourly forecast in same manner"
I am using the TomorrowIO integration to provide met with two entities for forecast, a daily variant and a hourly variant.
The daily variant is working perfectly with this card. When selecting the hourly version, I only get the days bars within the forecast range (based on hours).

Can you also support hourly forecasts, where an hour would be a line?

[2022-10-21 23:15] ronnienijjar commented on #39
It appears to be working now. Thanks

[2022-10-22 05:40] #39 closed

[2022-10-22 05:45] pkissling commented on #56
thanks for reporting the issue.

although this issue is rather caused by inconsistent data by the weather provider (current temp is above/below the min/max temps of the forecast attribute), i did some modifications to the cards logic in order to properly adjust the min/max forecast values.

changes will be part of the next release.

[2022-10-22 06:08] #56 closed

[2022-10-22 08:54] cptcotton commented on #42
@pkissling, thank you for your friendly help.
The yaml to the screenshot is

`- type: custom:clock-weather-card
        entity: weather.forecast_h14a
        locale: de
      - type: vertical-stack
        cards:
          - show_current: true
            show_forecast: true
            type: weather-forecast
            entity: weather.forecast_h14a_hourly
            name: Vorhersage Sillenstede

[2022-10-22 15:20] pkissling commented on #42
hey @cptcotton, your config pretty much explains why the data shown in the two cards is different.
considering the [faq](https://github.com/pkissling/clock-weather-card#why-dont-i-see-the-current-day-in-my-weather-forecast) i'd suggest you to switch to a different weather provider. i personally use OpenWeatherMap, which allows the card to render the forecast for the current day (as a bar).

i unde

[2022-10-22 15:20] #42 closed

[2022-10-22 15:23] cptcotton commented on #42
Thats ok, thanks for the support. I'll take a look at openwethermap.

[2022-10-22 21:07] netmanchris commented on #34
Let me know if I should open another issue, but It would be great to be able to set the font size of the clock in the YAML definition when adding this card to a dashboard.

In the mean time - Can you point me towards where in the JS file the clock size is statically configured so I can change it manually?

Really appreciate the great work!  Loving this card!

[2022-10-22 21:18] joevberg commented on #34
I've tried changing everything in the js to no avail

[2022-10-23 05:55] pkissling commented on #34
hi there,

you can easily change the font size yourself using [card-mod](https://github.com/thomasloven/lovelace-card-mod):

[code]

[2022-10-23 08:51] Poncharello commented on #24
Hi @pkissling,
I've just added the Italian translation .json file.

Cheers!

[2022-10-23 09:18] nightfever77 opened #71 "Days do not advance"
I set this card up last Tuesday. Today we have Sunday, but I always saw and still see Tue-Sat. Why?

[2022-10-23 09:21] pkissling commented on #71
hi @nightfever77, can you dump the state of your weather provider?
are you on the lastest card version?

[2022-10-23 09:26] nightfever77 commented on #71
I am on 1.0.6
When I delete the card and add it again, it shows Tue-Sat.
Dump attached
[tomorrow_io_weather.txt](https://github.com/pkissling/clock-weather-card/files/9846123/tomorrow_io_weather.txt)

[2022-10-23 10:22] pkissling commented on #71
interesting. can you please also attach a screenshot of the card?

[2022-10-23 10:49] pkissling commented on #71
i can reproduce the problem using tomorrow.io weather provider. will have a look and get back to you. thanks for reporting the issue
![Screenshot 2022-10-23 at 12 48 39](https://user-images.githubusercontent.com/33731393/197387929-18b2676a-dbf1-46f2-919c-249a7e17137d.png)

[2022-10-23 11:13] pkissling commented on #71
i found the issue. tomorrow.io delivers forecasts for a lot of days in advance (like 14 oder so). the card had a bug where it would pick the last 5 days to show in the forecast (instead of the first 5 days). i fixed the bug and will release a new version in the new few days.

this is the how it will look like with tomorrow.io after the fix:
![Screenshot 2022-10-23 at 13 11 47](https://user-images.

[2022-10-23 11:44] nightfever77 commented on #71
Thanks much for the quick fix.

[2022-10-23 13:06] #71 closed

[2022-10-23 14:24] joevberg commented on #34
Ty much. I just needed time know what section. Great.

[2022-10-23 14:48] joevberg commented on #34
Ty much. I just needed time know what section. Great. It overlaps the condition and date. I don't need the date. Is it possible to move the condition? Or remove it too?

[2022-10-23 15:47] pkissling commented on #34
[code]
<img width="446" alt="Screenshot 2022-10-23 at 17 47 22" src="https://user-images.githubusercontent.com/33731393/197401939-bbcc8a4e-3ebf-4be9-986c-eff90d39e819.png">

[2022-10-23 16:06] joevberg commented on #34
Ty

[2022-10-24 12:31] Terdos915 commented on #35
Hi Patrick,
If you interested in, I did the hungarian version.
Tibor
[hu.zip](https://github.com/pkissling/clock-weather-card/files/9851634/hu.zip)

[2022-10-24 13:30] marioalfaro75 opened #75 "Displayed Date format configurable"
Hi,

It would be great to be able to define the format of the date (currently mm/dd/yy) to other formats.

For example:
dd/mm/yy
dd/mm/yyyy

Thanks for all your work on this card, it looks awesome!

[2022-10-24 16:29] ktownsend-personal opened #76 "current humidity, barometric pressure and wind stats"
Would it be possible to add additional weather info, like humidity, pressure and wind direction/speed?

[2022-10-24 18:17] pkissling commented on #35
hi Terdos, can you please create a new issue - or if possible even a pull request? thanks

[2022-10-24 18:20] pkissling commented on #76
hey @ktownsend-personal, in which section of the card would you want this data to be shown?
as an additional row near the clock?
<img width="393" alt="Screenshot 2022-10-24 at 20 19 47" src="https://user-images.githubusercontent.com/33731393/197597539-0cadb0c3-e97e-4b5c-b251-0a106e3558f3.png">

[2022-10-24 22:12] Terdos915 opened #77 "Hungarian localisation"
Please add  hungarian localisation to the card.

[hu.zip](https://github.com/pkissling/clock-weather-card/files/9855673/hu.zip)

[2022-10-25 07:03] #77 closed

[2022-10-26 07:51] Camatobe opened #81 "iOS12 compatibility"
I would love to use this on my wall mounted iPad Air (iOS12)

currently it is not supported:
"Custom element doesn't exist: clock-weather-card"

Deleted Frontend-Cache, Restarted Home-Assistant, restarted the iPad.
Maybe some JS functions wont work on iOS12?

Maybe you can ensure iOS12 compatibility somehow? – when I can provide anything, let me know.

[2022-10-26 08:02] pkissling commented on #81
i run the card successfully on different iOS devices. i cannot reproduce the issue.
the error message `Custom element doesn't exist: clock-weather-card` indicates that the card is not properly configured in home assistant.  can you please double check your configuration? https://github.com/pkissling/clock-weather-card#installation-and-tracking-with-hacs

[2022-10-26 08:40] Camatobe commented on #81
Checked the configuration twice.
It is properly working on all of my other iOS Devices, Laptops etc.

iOS12-Home-Assistant App is forced to use an older Safari WebKit Version, wich only supports older JS-compatibility (I think it was ES5?)

I guess the iOS Devices you were testing on are iOS13 and above?
The "Custom element doesn't exist: clock-weather-card" - error also appears on custom cards no

[2022-10-26 09:13] pkissling commented on #81
yes, true. i checked on iOS 16.

gonna try to find the lowest ES version which i can use without changing the code.

[2022-10-26 09:29] pkissling commented on #81
with little code changes I was able to downgrade to ES2015.
can you install the manually and give it a spin?

[clock-weather-card.zip](https://github.com/pkissling/clock-weather-card/files/9868105/clock-weather-card.zip)

[2022-10-26 10:42] Camatobe commented on #81
Thanks @pkissling !
It's definetely a progress!

The card gets recognized. – Weather Icon and Time are visible now, but the Tmp Min-Max-Bars aren't visible tho..

Do you know, how I can view console errors from the home assistant companion webview on iPad? – Maybe I can provide that errors to you.

[2022-10-26 11:03] Camatobe commented on #81
Tested it on a separate View, the dot on the current day is missing and bars are moved down attached an unprofessional screenshot 😂![image](https://user-images.githubusercontent.com/51515686/198010120-d74b3dd6-d375-47eb-86ba-bf47d91a3e96.jpeg)

[2022-10-26 19:14] pkissling commented on #81
oh wow, great you found it. i don't have an iOS 12 device, hence was not able to reproduce the issue.
so we can merge the code changes and include it in the next release?

[2022-10-26 20:13] #81 closed

[2022-10-26 21:30] Camatobe commented on #81
Sounds great! Thanks for the absolutely beautiful work and the fast response!

In case my changes don't break other stuff (only tested on iOS 12): ship it 🥳

Maybe some things need tweaking (for example no absolute width for the current indicator. (Use rem instead)

[2022-10-27 01:06] ronnienijjar opened #84 "Rain animation not working on Firefox"
Rain animation isn't working for me with Firefox. Sun, clouds, etc. do work. It works with Chrome and mobile though

[2022-10-27 12:34] dragonerix opened #85 "Where is point?"
![Snímek obrazovky 2022-10-27 143628](https://user-images.githubusercontent.com/68662239/198285889-12e86571-b0ee-446e-9129-de4351dc20e0.jpg)
Hi, where is point in BAR graph like you have on main picture https://raw.githubusercontent.com/pkissling/clock-weather-card/1.0.7/.github/assets/card.gif. I not have it.

I have this settings in HA:
type: custom:clock-weather-card
entity: weather.domov
sun_e

[2022-10-27 15:03] Shogun1978 commented on #85
Same issue here.

[2022-10-27 16:06] Camatobe commented on #85
I fixed it, by adding an extra css via card_mod ( https://github.com/thomasloven/lovelace-card-mod ):
[code]

maybe your browser does not support the used css-property: https://caniuse.com/mdn-css_properties_aspect-ratio

this way I was able to ran it on iOS12:
<img width="503" alt="image" src="https://user-images.githubusercontent.com/51515686/198341772-d75f47c3-c8dd-4421-aa96-56c50b8bc13b.png">

[2022-10-27 18:45] pkissling commented on #85
hi @dragonerix, @Shogun1978 is it possible that your issue is related to the issue discussed here?
https://github.com/pkissling/clock-weather-card#why-dont-i-see-the-current-day-in-my-weather-forecast

[2022-10-27 18:46] pkissling commented on #84
hi @ronnienijjar, what firefox version and which OS are you using? how can i reproduce the issue?

[2022-10-27 19:12] pkissling commented on #85
as an alternative i could calculate calculate today's forecast in the card. but since the weather provider lacks min/max temp for the day, it looks pretty strange. what do you guys think?
![image](https://user-images.githubusercontent.com/33731393/198378082-4cb4c0ab-798c-4ccc-b438-0117ef16674b.png)

[2022-10-27 22:46] ronnienijjar commented on #84
Sorry about that.

Rain drops **_are not_** visible for me on
- Win 10, Firefox 106.0.2
- Android 10, Firefox 106.1.0

Rain drops **_are_** visible on
- Win 10, Chrome 107.0.5304.88
- Android 10, Chrome 107.0.5304.54
- HA app, latest version

[2022-10-28 08:09] Shogun1978 commented on #85
Indeed, looks quite strange. I didn't manage to ever get OpenWeatherMap up and running, but I will try again today and see if the issue also appears there.

[2022-10-28 09:00] Shogun1978 commented on #85
Ok, just tested with OpenWeatherMap and the dot is back. Strange...

[2022-10-28 15:16] #85 closed

[2022-10-29 13:58] #75 closed

[2022-10-29 15:19] pkissling commented on #84
i am able to reproduce the issue on firefox. very interesting....

[2022-10-29 17:56] stigvi opened #87 "Date formatting and locale"
Regarding this, https://github.com/pkissling/clock-weather-card/pull/86 , is it possible to set the same locale as configured with the locale configuration for this card?

[2022-10-29 18:47] pkissling commented on #87
sorry, i don't really understand the question. if you set `date_pattern` l, the card will use the configured pattern. if not, it will fall back defined by the default pattern of your language (either `locale`, or if not defined the language set in HA)

[2022-10-29 19:04] pkissling commented on #87
what you describe should work properly. can you please provide the expected and the actual pattern? gonna see if i can reproduce the issue with `no` language

[2022-10-29 19:07] stigvi commented on #87
![image](https://user-images.githubusercontent.com/25978315/198848586-d4d60f94-bed2-4299-adde-1c1a07e76b53.png)

Lør is ¨norwegian for 'Sat'  so with this version, there is a mix of two different languages

(I used PPPP as an example here. My normal formatting code would be PPP)

[2022-10-29 19:12] pkissling commented on #87
i see. my hunch is that the underlying date-fns library does not yet have norwegian language support. gonna have look.

[2022-10-29 19:21] stigvi commented on #87
The proper locale code for norwegian is nb and not no. The date is norwegian if I use nb as locale, but then, everything else is in english

[2022-10-29 19:47] pkissling commented on #87
nice catch. what do you think about changing supporte locale in the card from `no` to `nb`?

[2022-10-29 19:50] stigvi commented on #87
Changing it to nb is the right thing to do, imo. It is a minor change which will solve this little issue.

[2022-10-29 20:03] stigvi commented on #87
While you are at it. Could you change Kaos to Storm in the no,json (nb,json) (exceptional = Unwetter = Storm)

[2022-10-29 20:32] stigvi opened #89 "Default date formatting"
As it is possible to format the date (great feature :-) ), is it possible to change the default formatting to "eee, P" and remove the hardcoded weekday at the start of the line?

[2022-10-29 21:03] pkissling commented on #89
i initially wanted to do it, but figured that certain languages are not supported in date-fns. with your finding in #87 i realised that for other languages (czech, korean) the ISO 639-1 is wrong, hence translations via date-fns were not working.

i will consider it an enhancement and might implement it in future

[2022-10-29 21:04] #87 closed

[2022-10-30 07:00] andreasfromch opened #91 "Problem on a iPad mini 2 in the Mobile App"
I really love the “Clock Weather Card” and it works for me on almost every device perfect 😊!
But on my **iPad mini 2** in the **Mobile App** it looks like on the attached screenshot. The whole weather part is missing. Is there a possibility to fix it on my side or is there an update form your side necessary?
![iPad-Mini 2](https://user-images.githubusercontent.com/30843010/198866484-eae44e7c-4dc4-

[2022-10-30 07:16] stigvi commented on #89
What about keep the default as it is now, but if date_pattern has some value configured by the user, then remove the hardcoded weekday?

[2022-10-30 08:18] pkissling commented on #91
hi @andreasfromch,
i don't have an iPad mini, hence cannot reproduce the issue.
can you provide some additional details? ios version, resolution, browser, browser version

[2022-10-30 09:25] andreasfromch commented on #91
Hi @pkissling,
thanks for having a look into this issue.
I see that this problem must be hard to solve without an iPad with exact the same setup.
But here is the information

- iOS version: 12.5.5
- Screen resolution: 2048 x 1536
- Browser and browser version: I’m using the “native” Home Assistant App
- Page zoom in the App: 100%

I’ve already tried to change the settings in the App but that didn’

[2022-10-30 11:00] pkissling commented on #91
ah, iOS12 again. can you check #81 to see if applying some card-mod modifications fix the issue?

[2022-10-30 11:04] pipetboy opened #92 "typo in resources"
url: /hacsfiles/clock-weather-car/clock-weather-card.js
should be
url: /hacsfiles/clock-weather-card/clock-weather-card.js

[2022-10-30 12:05] andreasfromch commented on #91
Thanks s lot for that hint that fixed the problem on my iPad as well 👍😅😃!

[2022-10-30 13:58] pkissling commented on #92
good catch! thanks a lot!

[2022-10-30 14:00] #92 closed

[2022-10-30 14:21] pkissling commented on #91
the following version contains the mentioned css changes.
can you please try this version? if this makes your card work on iOS 12 (without card-mod), then i will include this change in the next release

[clock-weather-card.js.zip](https://github.com/pkissling/clock-weather-card/files/9896044/clock-weather-card.js.zip)

[2022-10-30 14:22] pkissling commented on #81
hi @Camatobe
the following version contains the mentioned css changes.
can you please try this version? if this makes your card work on iOS 12 (without card-mod), then i will include this change in the next release

[clock-weather-card.js.zip](https://github.com/pkissling/clock-weather-card/files/9896044/clock-weather-card.js.zip)

[2022-10-30 15:31] Camatobe commented on #81
Looks good so far.
The current day temp indicator dot is still missing tho.

In my modded Version I added `width: 1.5rem;` to this tag:
`<forecast-temperature-bar-current-indicator-dot> `
as the used css `aspect-ratio` is not supported.

I added a screenshot (Modded one on top).
![IMG_0CD936113459-1](https://user-images.githubusercontent.com/51515686/198887170-0fca1074-d8ab-4b65-9ba7-59ff54d5b081.

[2022-10-30 16:16] andreasfromch commented on #91
Hi @pkissling, thanks for the hotfix 😃!
It seems that the card shows up correctly now but the "dot" is still missing.

![iPad-Mini 3](https://user-images.githubusercontent.com/30843010/198889401-5e8ab765-18f3-400b-908e-8afeac6051cd.png)

[2022-10-30 16:19] pkissling commented on #91
one last attempt :D
[clock-weather-card.js.zip](https://github.com/pkissling/clock-weather-card/files/9896276/clock-weather-card.js.zip)

[2022-10-30 16:21] pkissling commented on #81
cool, thanks for your help in fixing the issue remotely :D
the following zip now includes all 3 changes:
* dot: `width`
* wrap-top: `text-align`
* clock-weather-card-forecast: `display: block`
[clock-weather-card.js.zip](https://github.com/pkissling/clock-weather-card/files/9896279/clock-weather-card.js.zip)

[2022-10-30 16:26] Camatobe commented on #81
tested it, worked like a charm.

Next time, when I have time, I will do the proper way and do a PR ;D Thanks for fixing it!

[2022-10-30 16:35] andreasfromch commented on #91
Sorry, still no "dot" 😥😉...

[2022-10-30 17:30] pkissling commented on #91
okay, now i'm out of ideas on how to fix the issue without being able to reproduce it, sorry.
wondering though, why the fix did not work.
[here](https://github.com/pkissling/clock-weather-card/issues/81#issuecomment-1296295853) the same issue was fixed with the exact same code changes

[2022-10-31 03:00] disenberg opened #97 "Add label to card to describe weather entity"
**Is your feature request related to a problem? Please describe.**
I use NWS and Openweather on 2 cards.  There is no way to tell which card is NWS and which is Openweather

**Describe the solution you'd like**
entry in the config for Lable

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context*

[2022-10-31 09:39] #97 closed

[2022-10-31 09:40] #91 closed

[2022-10-31 10:35] KaportsevIA opened #99 "Align weather time and date"
It is necessary to center the weather, time and date in the card. In the current version, it does not look very nice.
![Снимок экрана 2022-10-31 133200](https://user-images.githubusercontent.com/98884453/198988431-13b5285e-cf15-4c6e-8b4f-36923e596ce7.jpg)

[2022-10-31 10:57] pkissling commented on #99
hi @KaportsevIA, can you propose a solution? i don't quiet understand the problem statement

[2022-10-31 15:03] brainfrz82 commented on #99
I came here for the same request, the text should be center-alligned (imho). So like this:
![image](https://user-images.githubusercontent.com/26366427/199040115-b1a17367-983a-42d6-b52c-fcd504a85474.png)
Would love to see that as an option, thank you for this great card!

[2022-10-31 15:46] pkissling commented on #99
hi @brainfrz82, thanks for the explanation.
it was a design design to make the weather info stick `right`, the clock `center` and the weather `left`.
it pretty much depends on your resolution/viewport on how the card is eventually rendered. on a "regular" screen, it looks pretty okay and i want to keep it that way
![image](https://user-images.githubusercontent.com/33731393/199049456-15554acf-59e6-

[2022-10-31 18:47] andreasfromch commented on #91
Thanks for the great support anyway 👍😀.
I will solve it with the additional style 🧐.

[2022-11-01 00:39] Murianwind opened #100 "If the lowest temperature is 0 degrees, the graph is not displayed correctly."
**Checklist:**

- [x] I updated to the latest version available
- [x] I cleared the cache of my browser
- [x] I read the [FAQ](https://github.com/pkissling/clock-weather-card#faq) and the issue I'm having was not mentioned there.

**Release with the issue:**

**Last working release (if known):**

**Browser and Operating System:**

**Description of problem:**

![화면 캡처 2022-11-01 093705](https://use

[2022-11-01 07:47] pkissling commented on #100
hi @Murianwind,

thanks for reporting. gonna have a look

[2022-11-01 07:59] #100 closed

[2022-11-01 08:03] pkissling commented on #100
i just fixed the issue you reported. gonna create a new release right now. please also consider #96 where i changed the Korean language code from `kr` to `ko`. this otherwise caused some issues whenever the provided `locale` was passed to other third party libraries. (`kr` translates to *Kanuri*) https://www.loc.gov/standards/iso639-2/php/code_list.php

[2022-11-01 12:56] brainfrz82 commented on #99
@pkissling Thank you, i agree in your example it looks good, on my wall mounted tablet it looks very "crammed". I was planning to look into card_mod for some other wishes i had on other components, thank you for the workaround and for the great work :)

[2022-11-01 13:08] #99 closed

[2022-11-01 17:19] JanGiese commented on #64
Hi @mvanlijden,
I also found it quite useful to display the hourly forecast via this beautiful card, so I have implemented some slight changes, which hopefulle make it into this repository.
[Pull Request](https://github.com/pkissling/clock-weather-card/pull/102)
If you would like to test the adapted version, you can download it [here](https://github.com/JanGiese/clock-weather-card/releases/downloa

[2022-11-02 07:53] ngocdungvn opened #104 "Add Vietnamese language"
#This is the vi.json code of Vietnamese language. Hope the author will update

{
  "weather": {
    "clear-night": "Trời xanh",
    "cloudy": "Nhiều mây",
    "fog": "Sương mù",
    "hail": "Mưa đá",
    "lightning": "Giông bão",
    "lightning-rainy": "Mưa giông",
    "partlycloudy": "Mây rải rác",
    "pouring": "Ẩm ướt",
    "rainy": "Trời mưa",
    "snowy": "Tuyết rơi",
    "snowy-rainy": "Mưa

[2022-11-03 15:27] mehhhhhhhhhhhhhhhhhhhhhhhhhh opened #106 "Remove leading '0' from 12 hour time"
Thank you for creating this card, it seriously looks BEAUTIFUL!

That said, it would be nice to ditch the leading 0 on 12 hour time, as it isn't needed.

[2022-11-04 04:37] pkissling commented on #104
hi @ngocdungvn thanks for providing the translations. i don't have access to a laptop for the next 2 months, so i cannot create a pull requests myself. i'd be happily reviewing and approving the pull request, if you create one. cheers

[2022-11-05 10:58] jeffm999 opened #107 "Daily forecast time tracking"
**Checklist:**

- [ ] I updated to the latest version available -yes
- [ ] I cleared the cache of my browser -yes
- [ ] I read the [FAQ](https://github.com/pkissling/clock-weather-card#faq) and the issue I'm having was not mentioned there. -yes

**Release with the issue:**
v1.09

**Last working release (if known):**
v1.0.9
**Browser and Operating System:**
chromium, archlinux,

**Description of pr

[2022-11-05 13:32] pkissling commented on #107
hi @jeffm999, the dot does not indicate the time. it indicates the current temperature.
btw did you apply some card-mod modifications? the dot is supposed to be white with a black outline. see the card example in the README.md

[2022-11-05 22:01] jeffm999 commented on #107
aha. that makes sense now

this is my card config:

type: custom:clock-weather-card
entity: weather.eltham_north
title: Weather Forecast Eltham North
sun_entity: sun.sun
weather_icon_type: fill
animated_icon: true
forecast_days: 7
time_format: 24
hide_today_section: false
hide_forecast_section: false
date_pattern: dd MMMM yyyy
locale: en

rgds

On Sun, 6 Nov 2022 at 00:32, Patrick Kissling ***@***

[2022-11-06 03:02] pkissling commented on #107
would you also please tell me the browser (and version) you are using? i want to follow up on that black dot

[2022-11-06 03:25] jeffm999 commented on #107
Chromium Version 107.0.5304.87 (Official Build) Arch Linux (64-bit)

rgds

On Sun, 6 Nov 2022 at 14:02, Patrick Kissling ***@***.***>
wrote:

[2022-11-06 10:03] #107 closed

[2022-11-08 00:49] #106 closed

[2022-11-12 00:14] xstrex opened #110 "Optionally reduce padding around icon and hide date to reduce height"
**Is your feature request related to a problem? Please describe.**
No, just some more options to reduce the overall height of the card.

**Describe the solution you'd like**
- an option to reduce padding on top & bottom of top most data (above and below icon)
- an option to remove the date string, also to reduce overall height

**Describe alternatives you've considered**
Reducing forecast days is

[2022-11-12 13:12] detroitgoose commented on #23
@pkissling Apologies for late reply. Everything I've tested works as expect. Very nice, thank you!

[2022-11-13 11:16] KrX3D opened #111 "Temperature not rounded"
Hello,

it seems the card is rounding the temperature:

![image](https://user-images.githubusercontent.com/18599852/201518891-c75d4f49-7560-4b8a-bf17-7189ee1d4682.png)

![image](https://user-images.githubusercontent.com/18599852/201518871-e4fc0022-cc67-4c6f-8a9d-9230ed9d8629.png)

it would be nice to configure it if the value should be rounded.

[2022-11-14 11:51] pkissling commented on #110
hi there,
thanks for the request. i don't have access to a laptop until the end of this year, hence i will not be able to work on the request.
i have the feeling that your request could easily be implemented using card-mod. did you give it a try already?

[2022-11-14 13:56] efaden opened #112 "Scale to Fit Grid Layout?"
I am trying to make a grid-layout that has fixed dimensions.  For right now I have a grid layout with 4 columns and 4 rows.  The grid layout is set to 100% of the screen.  I am placing the clock-weather-card along the top using a grid-area.  It doesn't seem to mater what I specify the clock-weather-card grows well outside of the size of the row. I can't figure out what to modify with card-mod top

[2022-11-14 20:36] xstrex commented on #110
I have not (yet), I just wanted to hit up the dev before going elsewhere. The request isn't critical, just nice to have.

[2022-11-15 00:13] pkissling commented on #112
hi there, neither have i access to a laptop until the end of the year due to vacation, nor do i habe any knowledge about `grid-layout` and `mod-card`.
i'm afraid i won't be able to help  you on this matter for now

[2022-11-15 00:14] efaden commented on #112
No worries.  Basically I'm just trying to specify the maximum height of the card and have it scale to that.  As it is right now as the tablet gets wider the card gets taller and taller.  It's taking up almost 1/3 of the tablet screen

[2022-11-16 01:21] #104 closed

[2022-11-16 20:40] kylerm42 opened #114 "Constant locale console errors"
**Checklist:**

- [x] I updated to the latest version available
- [x] I cleared the cache of my browser
- [x] I read the [FAQ](https://github.com/pkissling/clock-weather-card#faq) and the issue I'm having was not mentioned there.

**Release with the issue:**

Version: 1.0.9

**Last working release (if known):**

**Browser and Operating System:**

Browser: Firefox on Arch
HA: HA Core on Unraid

**D

[2022-11-16 23:40] pkissling commented on #114
hi @kylerm42,
thanks for reporting the issue. i will have a look once i'm back from vacation

[2022-11-18 03:56] egaryw2011 opened #115 "Does not seem to work on the Android companion app"
Really nice card,

Also would be great to add in forecasted rain in the future

[2022-11-18 04:01] egaryw2011 commented on #115
Delete this issue, had to restart the companion app- seems okay now

[2022-11-18 04:01] #115 closed

[2022-11-20 00:26] parkerjohn77 opened #116 "Adjusting height of current weather stats"
The current weather and clock are the first things I look at on the screen.  Could you make them both adjustable?

Also, dumb question, but what do the colored sections mean on the forecast for each day?

[2022-11-20 00:58] Feherfy commented on #116
I had problem with the texts sizes too, and I fixed with Card-Mod.

For example:
`card_mod:
  style: |
    clock-weather-card-today-right-wrap-top {
    font-size: 25px;
    }
    clock-weather-card-today-right-wrap-bottom {
    font-size: 20px;
    }
`

[2022-11-20 01:19] pkissling commented on #116
hi @parkerjohn77, i'd as well propose to use card-mod to customise the card to your liking.

[2022-11-20 01:22] Feherfy commented on #116
@pkissling another, but connecting topic: do you think can I somehow edit the decimals of the shown temperatures by card-mod?

[2022-11-20 01:25] pkissling commented on #116
i don't think so. what do want to do exactly?

[2022-11-20 01:30] Feherfy commented on #116
Just add decimal points, so it doesn’t just show the whole integer values.

[2022-11-20 01:42] parkerjohn77 commented on #116
Thank you much!

[2022-11-20 01:54] pkissling commented on #116
this request was already raised via #111 - maybe you can leave a thumbs up there.
please note that i'm currently on vacation. hence I will be able to work on the code starting January next year

[2022-11-20 01:54] #116 closed

[2022-11-20 16:14] Danit2 opened #117 "Change Tap Action"
**Is your feature request related to a problem? Please describe.**

it would be great if you could change the tap_action.  like other cards.

[2022-11-21 09:41] pepe59 opened #118 "Day, night icon not working"
Probably day, night (icon) mode using sun.sun entity is not working after HA update.
The sun.sun entity itself works fine.

[2022-11-21 20:54] pepe59 commented on #118
I have no idea what happened, but today the day, night icon works.
All I did today was restart HA.
I've also restarted HA in the past and it didn't work.
If it works for a few days, I'll close the issue.
Thank you for a great weather card that works very well.

[2022-11-21 20:58] #118 closed

[2022-11-22 17:34] jsantosdias opened #119 "While installing, HASS says not to put resources in ui-lovelace."
While installing, HASS says not to put resources in ui-lovelace, but instead on panel configuration... There, it's all different and Wheather Clock already there... Where should I put resources? What should I do? Either way, I can't put this to work as always appears: No visual editor for type....

[2022-11-22 23:49] pkissling commented on #119
clock-weather-card does not have a visual editor. did you follow the [installation instructions](https://github.com/pkissling/clock-weather-card#installation-and-tracking-with-hacs)?

[2022-11-23 08:32] Santanachia commented on #119
1. @jsantosdias doesn't write about adding a card visually, but about adding a resource
2. the installation instructions are faulty. There is no way to add a resource via YAML, you can only add it through the GUI
![image](https://user-images.githubusercontent.com/4628507/203501158-669d6cfd-cd77-4ac1-87b0-367897b1a7e6.png)
![image](https://user-images.githubusercontent.com/4628507/203501283-c3f3ce0

[2022-11-23 08:33] Santanachia opened #120 "can't add resource"
![image](https://user-images.githubusercontent.com/4628507/203501645-ac94c4d4-cee6-47bb-812c-27cc35da9e9f.png)

[2022-11-23 12:38] jsantosdias commented on #119
Yes, that's exactly that! Thank you! What should I do?

[2022-11-23 14:01] Santanachia commented on #119
don't know. It doesn't work for me either. I'm hoping @pkissling will adjust the instructions to how Home Assistant currently works.

[2022-11-23 15:04] pkissling commented on #119
i'm currently on vacation and don't even have a laptop with me. to me it's not clear what this issue is caused by (maybe a change in a recent HA release?). i'm afraid this issue has to wait until january unless somebody of you is willing to dig into the issues

[2022-11-23 15:05] pkissling commented on #120
does this issue duplicate #119?

[2022-11-24 15:07] mariusmotea opened #122 "Current day is not show in the forecast section."
**Checklist:**

- [x] I updated to the latest version available
- [x] I cleared the cache of my browser
- [x] I read the [FAQ](https://github.com/pkissling/clock-weather-card#faq) and the issue I'm having was not mentioned there.

**Release with the issue:**
1.0.9 (last)

**Last working release (if known):**
N/A
**Browser and Operating System:**
Brave, Safari on MacOS and HomeAssistant App on Andr

[2022-11-24 15:41] mariusmotea commented on #122
Sorry, i miss the hint to use openweathermap.

Thanks for this nice card

[2022-11-24 15:41] #122 closed

[2022-11-24 18:28] dominickdm opened #123 "not working anymore (climacell)"
**Checklist:**

- [X] I updated to the latest version available
- [X] I cleared the cache of my browser
- [X] I read the [FAQ](https://github.com/pkissling/clock-weather-card#faq) and the issue I'm having was not mentioned there.

**Release with the issue:** 1.0.9

**Last working release (if known):** 1.0.9

**Browser and Operating System:** Windows and Mac with Chrome

**Description of problem:**

[2022-11-25 02:47] pkissling commented on #123
hi @dominickdm I currently don't have access to a computer, hence cannot investigate the issue.
my hunch is that your data provider delivers some data in an unexpected fashion.
can please provide me your weather provider and the corresponding weather location?
i will try to reproduce and possibly fix the issue when i'm back from vacation in January.

furthermore it would be helpful if you could du

[2022-11-25 06:51] dominickdm commented on #123
Hello @pkissling,

Thank you for your reply and enjoy your vacation.

I'm using climacell (Tomorrow.io) (https://www.home-assistant.io/integrations/tomorrowio), forecast type 'daily' on location 'Zingem' (not sure where to find the actual configured location..).

Here is the export of all attributes:

temperature_unit: °C
pressure_unit: hPa
wind_speed_unit: km/h
visibility_unit: km
precipitation_u

[2022-11-25 10:38] Santanachia commented on #120
yes

[2022-11-25 10:38] #120 closed

[2022-11-25 11:47] dominickdm commented on #123
It might be related to the current temperature, since the current weather temperature shows NaN?

![image](https://user-images.githubusercontent.com/40289256/203979354-c5bf503b-f219-4944-86aa-65f8b77bb47c.png)

[2022-11-25 12:13] pkissling commented on #123
yeah, thats possible. the card relies on a temperature attribute, which (sometimes) does not exist for your weather provider.

i will create a bug fix to make sure that the card still properly renders if `temperature` is not delivered by the provider. thanks for the hint

ETA is mid january

[2022-11-29 21:36] remcomeer89 opened #124 "Wheater icons without internet"
Love the clock-weather-card,
but i also like my wall tablet to be disconnected from the internet.

At the moment the weather icons only work with an active internet connection.

Would like to see a way to point to local icons, as they are easy to download from the basmilius github.

[2022-11-30 00:43] pkissling commented on #124
i'll consider this a bug although the behaviour you describe should work, since the icons are part of the js bundle and hence should be available offline.

since i'm on vacation i cannot reproduce - analyse the issue.

this issue will have to wait until  Jan

[2022-11-30 00:45] pkissling commented on #124
can you post a screenshot of the card without internet connection?

[2022-11-30 20:04] JustSid opened #125 "Double digit negative temperatures get cut off in forecast"
**Checklist:**

- [x] I updated to the latest version available
- [x] I cleared the cache of my browser
- [x] I read the [FAQ](https://github.com/pkissling/clock-weather-card#faq) and the issue I'm having was not mentioned there.

**Release with the issue:**
1.0.9

**Browser and Operating System:**
Firefox on Windows and macOS, Safari on iOS.

**Description of problem:**

We have minus degrees her

[2022-11-30 21:11] remcomeer89 commented on #124
![IMG_20221130_064026184_HDR](https://user-images.githubusercontent.com/56893286/204908779-b071053b-bfb2-4103-b314-df65f827d808.jpg)

[2022-11-30 21:13] remcomeer89 commented on #124
Can't seem to recreate the problem. Connected the tablet to the internet. At that point the icons showed up right away. After disconnecting from the internet they ware still working! Think once they are in browser cache they are working fine offline. Have a nice holiday!

[2022-11-30 23:52] pkissling commented on #125
hi @JustSid thanks for reporting the issue. will fix it after my vacation in January

[2022-11-30 23:55] pkissling commented on #124
just to make sure we talk about the same thing - the icons you highlighted are not from my clock-weather-card